.containerAbout {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 24px;
   margin: 34px 5px;
   padding-top: 18px;
}

.innerAbout {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 14px;
   width: 100%;

   p {
      line-height: 150%;
   }
}

.title {
   font-size: 34px;
   color: #121212;
}

.bannerAbout {
   position: relative;
   width: 100%;
   height: 350px;
}

.imageAbout {
   object-fit: cover;
   width: 100%;
   height: 350px;
   border-radius: 8px;
}

@media (min-width: 640px) {
   .containerAbout {
      flex-direction: row;
      gap: 34px;

      .title {
         align-self: flex-start;
      }
   }
}

@media (min-width: 768px) {
   .innerAbout {
      p {
         align-self: flex-start;
         max-width: 80%;
      }
   }
   .bannerAbout {
      height: 240px;
   }
}
