.header {
   width: 100%;
   z-index: 99;
   position: fixed;
   background-color: #fff;
}

.fixed {
   position: fixed;
   background-color: rgba(252, 252, 252, 0.73);
   -webkit-box-shadow: 0px 8px 20px -12px rgba(0, 0, 0, 0.6);
   -moz-box-shadow: 0px 8px 20px -12px rgba(0, 0, 0, 0.6);
   box-shadow: 0px 8px 20px -12px rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(4px);
}

.background {
   background-color: #fff;
}

.container {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 14px;
}

.content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 70px;
}

.contentLogo {
   display: flex;
   font-weight: bold;

   img {
      width: 110px;
      height: 55px;
   }
}
.nav {
   display: flex;
   gap: 12px;

   a {
      font-weight: 600;
      color: #121212;
      display: flex;
      align-items: center;
      padding: 6px 8px;
      transition: all 0.8s;
      border-radius: 5px;
   }

   a:hover {
      font-weight: bold;
      transform: scale(1.09);
      background-color: #121212;
      color: #fff;
   }
}

@media (max-width: 640px) {
   .nav {
      gap: 2px;
   }
}
